<section class="summary-card">

  <h2>
    ملخص السعر
  </h2>


  <div class="summary-row">

    <span>
      سعر الصندوق
    </span>

    <strong>
      {{ boxPrice }}
      جنيه
    </strong>

  </div>


  <div class="summary-row">

    <span>
      مجموع المنتجات
    </span>

    <strong>
      {{ productsPrice }}
      جنيه
    </strong>

  </div>


  <div class="summary-row">

    <span>
      التغليف
    </span>

    <strong>
      {{ wrappingPrice }}
      جنيه
    </strong>

  </div>


  <div class="summary-row">

    <span>
      بطاقة التهنئة
    </span>

    <strong>
      {{ cardPrice }}
      جنيه
    </strong>

  </div>


  <div class="divider"></div>


  <div class="summary-row total">

    <span>
      الإجمالي النهائي
    </span>

    <strong>
      {{ totalPrice }}
      جنيه
    </strong>

  </div>

</section>