<header class="site-header">

  <nav class="navbar navbar-expand-lg bg-white">

    <div class="container">

      <a
        class="navbar-brand"
        routerLink="/"
      >
        <div class="brand-wrapper">

          <div class="brand-icon">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </div>

          <div class="brand-info">

            <span class="brand-name">
              في خدمتك
            </span>

            <span class="brand-slogan">
              كل اللي تحتاجه.. في خدمتك
            </span>

          </div>

        </div>
      </a>


      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="فتح القائمة"
      >
        <span class="navbar-toggler-icon"></span>
      </button>


      <div
        class="collapse navbar-collapse"
        id="mainNavbar"
      >

        <ul class="navbar-nav mx-auto mb-3 mb-lg-0">

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
            >
              <i class="bi bi-house-door"></i>
              الرئيسية
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/supermarket"
            >
              <i class="bi bi-basket2"></i>
              السوبر ماركت
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/pharmacy"
            >
              <i class="bi bi-capsule"></i>
              الصيدلية
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/gifts"
            >
              <i class="bi bi-gift"></i>
              الهدايا
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/orders"
            >
              <i class="bi bi-box-seam"></i>
              طلباتي
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
            >
              <i class="bi bi-info-circle"></i>
              عن في خدمتك
            </a>
          </li>

        </ul>


        <div class="header-actions">

          <a
            class="cart-btn"
            routerLink="/cart"
            aria-label="سلة التسوق"
          >
            <i class="bi bi-cart3"></i>

            @if (cartCount > 0) {
              <span class="cart-badge">
                {{ cartCount }}
              </span>
            }

          </a>


          @if (!currentUser) {

            <a
              class="login-btn"
              routerLink="/login"
            >
              <i class="bi bi-box-arrow-in-left"></i>
              تسجيل الدخول
            </a>


            <a
              class="register-btn"
              routerLink="/register"
            >
              إنشاء حساب
            </a>

          } @else {

            <div class="user-menu">

              <div class="user-info">

                <div class="user-avatar">
                  <i class="bi bi-person-fill"></i>
                </div>

                <div class="user-text">

                  <span class="user-label">
                    أهلاً
                  </span>

                  <strong>
                    {{ currentUser.name }}
                  </strong>

                </div>

              </div>


              <button
                type="button"
                class="logout-btn"
                (click)="logout()"
              >
                <i class="bi bi-box-arrow-right"></i>
                تسجيل الخروج
              </button>

            </div>

          }

        </div>

      </div>

    </div>

  </nav>

</header>